body {
  margin: 0;
  padding: 0;
  transition: background-image .5s;
  color: white;
  backgrond-color: #819cab;
  background-repeat: no-repeat repeat;
  background-position: center;
  background-size: cover;
  /* customization of a scrollbar for IE */
  scrollbar-face-color: white;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: antiquewhite;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: antiquewhite;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: antiquewhite;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: antiquewhite;
}

/* customization of a scrollbar for webkit */
::-webkit-scrollbar {
  width: 15px;
}

/* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
  background-color: #819cab;
}

/* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
  background-color: #a2bfce;
}

/*!* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) *!*/
/*::-webkit-scrollbar-corner {*/
/*background-color: #fff63f;*/
/*}*/

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  padding: .4em;
  transform: translateY(-105%);
  color: lightcoral;
  border: 1px solid lightcoral;
  border-radius: .2em;
  background: rgba(255, 255, 255, .8);
}

@keyframes fly {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(2em);
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.forecast .container {
  display: flex;
  flex-flow: row nowrap;
}

.header {
  padding: 2rem 2% 2rem 2%;
  transition: all .3s;
  font-size: 2rem;
}

.header__title {
  display: flex;
  flex-flow: row wrap;
  background: rgba(0, 0,0, 0.4);
  border-radius: 0.4em;
}

.header__city-name,
.header__country {
  width: 50%;
  box-sizing: border-box;
  padding-left: 1.5rem;
}

.header__search {
  position: relative;
}

.header__search-icon {
  position: absolute;
  top: .4em;
  right: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: .4;
}

.header__search-icon:hover {
  opacity: 1;
}

.header__search-input {
  font-size: 2rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 30px auto;
  padding: 5px 70px 5px 20px;
  color: white;
  border: 2px solid white;
  border-radius: .2em;
  background: rgba(0, 0, 0, .3);
}

.forecast .container {
  padding-top: 20px;
  background: rgba(0, 0, 0, .3);
}

.forecast__today {
  width: 50%;
  padding-right: 2%;
  padding-left: 2%;
  list-style: none;
}

.forecast__item {
  font-size: 1.2rem;
  position: relative;
  display: flex;
  margin: 0;
  padding: 5px 10px 5px 0;
  border-bottom: 2px solid darkgray;
}

.forecast__today .forecast__icon img {
  position: absolute;
  top: -3px;
  right: 2em;
}

.forecast__today .forecast__item span {
  width: 25%;
}

.forecast__val {
  text-align: right;
  flex: 1 0;
}

.forecast__long-period {
  padding-right: 2%;
  padding-bottom: 20px;
  padding-left: 2%;
  flex: 1 1 40%;
}

.forecast__temp-val,
.forecast__celc,
.forecast__far,
.forecast__CF {
  display: inline-block;
}

.forecast__long-period .forecast__item {
  display: flex;
  cursor: pointer;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.visually-hidden {
  display: none;
}

.autocomplete-box {
  position: relative;
  max-width: 1050px;
  margin: 0 auto;
}

.autocomplete-box__popup {
  position: absolute;
  z-index: 20;
  top: 120%;
  left: 0;
  width: 100%;
  transition: all .3s;
  color: #2b2b2b;
  border: 2px solid white;
  border-radius: .2em;
  background: #ffffff;
}

.autocomplete-box__popup-item {
  font-size: 1.3rem;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 70px 10px 20px;
  cursor: pointer;
}

.autocomplete-box__popup-item--active {
  color: #dae9b5;
  background: rgba(20, 100, 20, .5);
}

.forecast__long-period .forecast__item:hover {
  color: antiquewhite;
  background: rgba(0, 0, 0, .5);
}

.forecast__long-period .forecast__week-day {
  margin-right: 10px;
  flex: 0 1 50px;
}

.forecast__long-period .forecast__month-day {
  margin-right: 10px;
  flex: 0 1 50px;
}

.forecast__long-period .forecast__icon {
  position: relative;
  flex: 1 1 100px;
}

.forecast__long-period .forecast__icon img {
  position: absolute;
  top: -3px;
  right: 2em;
}

.icon-animation-fly {
  animation-name: fly;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.forecast__long-period .forecast__item:nth-child(2) img {
  animation-delay: -1s;
}

.forecast__long-period .forecast__item:nth-child(3) img {
  animation-delay: -2s;
}

.forecast__long-period .forecast__item:nth-child(4) img {
  animation-delay: -3s;
}

.forecast__long-period .forecast__item:nth-child(5) img {
  animation-delay: -4s;
}

.forecast__long-period .forecast__item:nth-child(6) img {
  animation-delay: -5s;
}

.forecast__long-period .forecast__temperature {
  text-align: right;
  flex: 0 0 4em;
}

@media (max-width: 700px) {
  .forecast__today {
    font-size: 2rem;
    width: 100%;
    margin-bottom: 3rem;
    overflow: hidden;
  }

  .forecast__today .forecast__icon img {
    top: -1rem;
    right: .5rem;
    width: 3em;
    height: 3em;
  }

  .forecast .container {
    flex-wrap: wrap;
  }


  .forecast__long-period .forecast__month {
    display: none;
  }

  .forecast__long-period .forecast__item:first-child {
    display: none;
  }

  .forecast__long-period .forecast__list {
    display: flex;
    flex-flow: row wrap;
  }

  .forecast__long-period .forecast__week-day {
    font-size: 1.3rem;
  }

  .forecast__long-period .forecast__item {
    font-size: 1.7rem;
    position: relative;
    box-sizing: border-box;
    width: 20%;
    padding: 4px;
    border-right: 1px solid white;
    border-bottom: none;
    flex-flow: column-reverse nowrap;
  }

  .forecast__long-period .forecast__icon {
    right: 0rem;
  }

  .forecast__long-period .forecast__item:last-child {
    border-right: none;
  }

  .forecast__long-period .forecast__item div {
    text-align: center;
  }

  .forecast__temperature span:nth-child(2) {
    font-size: 1rem;
  }

  .autocomplete-box__popup {
    font-size: .7rem;
  }

  .header__city-name,
  .header__country {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
  }


  .header__search-input {
    font-size: 1.2rem;
    padding-top: .5em;
    padding-right: 3em;
    padding-bottom: .5em;
    border-radius: 1rem;
  }

  .header__search-icon {
    top: .5rem;
    right: 0;
    width: 2rem;
    height: 2rem;
    padding-right: 1em;
    padding-left: 1em;
  }

  .autocomplete-box__popup {
    font-size: .8rem;
  }

  .autocomplete-box__popup-item {
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #aaa9a1;
  }

  .error {
    font-size: 1.6rem;
  }
}
