body {
  margin: 0;
  padding: 0;
  transition: background-image .5s;
  color: white;
  background-image: url('../img/sunny-min.jpg');
  background-repeat: no-repeat repeat;
  background-position: center;
  background-size: cover;
  backgrond-color: #9ab4b6;
  /* customization of a scrollbar for IE */
  scrollbar-face-color: white;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: antiquewhite;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: antiquewhite;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: antiquewhite;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: antiquewhite;
}

/* customization of a scrollbar for webkit */
::-webkit-scrollbar {
  width: 15px;
}

/* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
  background-color: #819cab;
}

/* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
  background-color: #a2bfce;
}

/*!* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) *!*/
/*::-webkit-scrollbar-corner {*/
/*background-color: #fff63f;*/
/*}*/

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  padding: .4em;
  transform: translateY(-105%);
  color: lightcoral;
  border: 1px solid lightcoral;
  border-radius: .2em;
  background: rgba(255, 255, 255, .8);
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.forecast .container {
  display: flex;
  flex-flow: row nowrap;
}

.header {
  margin-bottom: 9em;
  padding: 2em 2% 2em 2%;
}

.header__title {
  font-size: 3em;
  display: flex;
  flex-flow: row wrap;
}

.header__city-name,
.header__date {
  width: 50%;
}

.header__search {
  position: relative;
}

.header__search-icon {
  position: absolute;
  top: .6em;
  right: 10px;
  cursor: pointer;
  opacity: .8;
}

.header__search-icon:hover {
  transform: scale(1.1);
  opacity: 1;
}

.header__search-input {
  font-size: 2em;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 30px auto;
  padding: 5px 70px 5px 20px;
  color: white;
  border: 2px solid white;
  border-radius: .2em;
  background: rgba(0, 0, 0, .3);
}

.forecast .container {
  padding-top: 20px;
  background: rgba(0, 0, 0, .3);
}

.forecast__today {
  width: 50%;
  padding-right: 2%;
  padding-left: 2%;
  list-style: none;
}

.forecast__item {
  font-size: 1.5em;
  position: relative;
  display: flex;
  margin: 0;
  padding: 5px 10px 5px 0;
  border-bottom: 2px solid darkgray;
}

.forecast__today .forecast__icon img {
  position: absolute;
  top: -3px;
  right: 0;
}

.forecast__today .forecast__item span {
  width: 25%;
}

.forecast__val {
  text-align: right;
  flex: 1 0;
}

.forecast__long-period {
  padding-right: 2%;
  padding-left: 2%;
  flex: 1 1 40%;
}

.forecast__temp-val,
.forecast__celc,
.forecast__far,
.forecast__CF {
  display: inline-block;
}

.forecast__long-period {
  padding-bottom: 20px;
}

.forecast__long-period .forecast__item {
  display: flex;
  cursor: pointer;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.visually-hidden {
  display: none;
}

.autocomplete-box {
  position: relative;
  max-width: 1050px;
  margin: 0 auto;
}

.autocomplete-box__popup {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  transition: all .3s;
  border: 2px solid white;
  border-radius: .2em;
  background: rgba(0, 0, 0, .6);
}

.autocomplete-box__popup-item {
  font-size: 1.5em;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 70px 10px 20px;
  cursor: pointer;
}

.autocomplete-box__popup-item--active {
  color: #dae9b5;
  background: rgba(20, 100, 20, .5);
}

.forecast__long-period .forecast__item:hover {
  color: antiquewhite;
  background: rgba(0, 0, 0, .5);
}

.forecast__long-period .forecast__week-day {
  margin-right: 10px;
  flex: 0 1 50px;
}

.forecast__long-period .forecast__month-day {
  margin-right: 10px;
  flex: 0 1 50px;
}

.forecast__long-period .forecast__icon {
  position: relative;
  flex: 1 1 100px;
}

.forecast__long-period .forecast__icon img {
  position: absolute;
  top: -3px;
  right: 0;
}

.forecast__long-period .forecast__temperature {
  text-align: right;
  flex: 0 1 100px;
}

@media (max-width: 65em) {
  .forecast__today {
    width: 100%;
    margin-bottom: 3em;
  }

  .forecast .container {
    flex-wrap: wrap;
  }

  .autocomplete-box__popup {
    font-size: .7rem;
  }
}
